.box{
position: relative;
left: 400px;
top: 100px;
border: solid;
width: 500px;
height: 300px;
grid-template-columns: auto auto auto;
background-color: #2196F3;
padding: 100px;
}

.card{
position: relative;
left: 100px;
top: 50px;
}

.card1{
   top: 200px;
}

.heading {
    position: relative;
    left: 30px;
    bottom: 100px;
    font-family: "Lucida Console", "Courier New", monospace;
}

.button {
    position: relative;
    top: 170px;
    left: -80px;
}

.icon {
   Position: relative;
   right: 80px;
   top: 40px;
}

.quote {
    position: relative;
    right: 200px;

}

.displayQuote{
    position: relative;
    left: 100px;
    bottom: 100px;
}

.displayAuthor {
    position: relative;
    bottom: 50px;
    left: 100px;
}

.texDisplay{
    font-size: 1.87em;
    float: left;
}